<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/home.css">
    <title>Biodata</title>
</head>
<body>
    <div class="navbar-container" >
        <div class="navbar">
            <div class="logo">
                <p>BioData.</p>
            </div>
            <div class="btn">
                <a href="login">
                    <button class="login">
                        Masuk
                    </button>
                </a>
                <a href="regis">
                    <button class="regis"> 
                        Daftar
                    </button>
                </a>
            </div>
        </div>
    </div>
    <div class="greetings">
        <div class="content">
            <h2>Selamat Datang</h2>
            <p>Buat Biodata anda disini, privasi dijamin aman 100% <br> tanpa perlu takut data anda bocor </p>
            <a href="/regis">
                <button class="start-btn">
                    Mulai
                </button>
            </a>
        </div>
    </div>
</body>
</html>