<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/regis.css">
    <title>Document</title>
</head>
<body>
    <div class="login-forms">
        <h1>Daftar</h1>
        <div class="input">
            <img src="/assets/email.svg" alt="email-icon">
            <input id="email" placeholder="Email" type="email">
        </div>
        <div class="input">
            <img src="/assets/user.svg" alt="user-icon">
            <input id="username" placeholder="Username" type="text">
        </div>
        <div class="input">
            <img src="/assets/pass.svg" alt="password-icon">
            <input id="password" placeholder="Password" type="password">
        </div>
        <div class="input">
            <img src="/assets/pass.svg" alt="password-icon">
            <input id="confirm-pass" placeholder="Konfirmasi Password" type="password">
        </div>
        <button id="regis" type="submit">
            Daftar
        </button>
    </div>
</body>
</html>